@model IEnumerable<Hydro.BAL.DTO.OmanbookDto>
@inject CultureLocalizer  _Localizer
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
        var culture = System.Globalization.CultureInfo.CurrentCulture;

}

<link href="~/Admin/sty/Style-Page.css" rel="stylesheet" />
<link href="~/sty/Omanbook.css" rel="stylesheet" />

<style>
.modal-body {
  
    padding: 0rem; 
}
.modal-header {
        padding: 0.5rem 0.5rem;
}

.modal-header .btn-close {
    padding: 0.5rem 0.9rem;
}
</style>

@if (culture.Name.Contains("en-US"))
    {
<div class="p-3 p-sm-5 pe-5"> 
    <br /> <br />

   <h2 class="txtColorBlue text-center "><mark class="markSty-who highlight "> Oman Maritime Book </mark></h2>


       <br /> <br />


                    Oman National Hydrographic Office releases its annual manual Oman Maritime Book, which contains important facts that guide vessels, divided into six sections as follows:
                    <br /> <br />


                    <b>   Section one.  Tide Tables:  </b> <br />

                    these tables forecast daily movement of main ports, naval bases and fishery ports in the Sultanate.
                    <br /> <br />



                    <b> Section two. List of Signals:</b> <br />
                    this section is a guide of wireless signals that are used to communicate between ships and different seaports.
                    <br /> <br />

                    <b> Section three. List of Navigational Lights: </b> <br />

                    ONHO produces a list of navigational lights derived from information of national sources, mainly from the Arabian Maritime and Navigation Aids Service LL.
                    <br /> <br />

                    <b> Section four. National List of Wrecks: </b> <br />

                    this section covers information of shipwrecks or any kind of wrecks may threatens navigation including historical wrecks under laws of Oman.
                    <br /> <br />

                    <b> Section five. Oman Chart Catalogue: </b> <br />

                    this section presents the charts issued and published by ONHO. In addition to charts to be produced on process.
                    <br /> <br />


                    <b> Section six. Maritime Distance Table:</b><br />
                    this section provides distances between Omani seaports and ports of neighboring countries in nautical miles.

                    <br /> <br /><br />

    </div>
}

else
{

<div class="p-3 p-sm-5 pe-5"> 
    <br /> <br />

   <h2 class="txtColorBlue text-center "><mark class="markSty-who highlight "> كتاب عمان البحري </mark></h2>


       <br /> <br />


                    يُعد هذا الكتاب من أهم أعمال قسم معلومات السلامة البحرية، الذي يُمثل دليلًا للسفن، ويضمُّ ستة أقسام:
                    <br /> <br />


                    <b>  القسم الأول: جداول المد والجزر:  </b> <br />

                    تُبرز هذه الجداول التنبؤات اليومية لحركة المد والجزر في الموانئ الرئيسة، القواعد البحرية، وبعض موانئ الصيد البحرية في السلطنة.
                    <br /> <br />



                    <b>  القسم الثاني: قائمة الإشارات اللاسلكية:</b> <br />
                    هو دليلٌ للإشارات اللاسلكية المستخدمة للتخاطب بين السفن والموانئ البحرية المختلفة.                                  
                    <br /> <br />

                    <b> القسم الثالث: قائمة الأضواء الملاحية: </b> <br />

                    يقوم المكتب الهيدروغرافي الوطني العُماني بإنتاج قائمة الأضواء الملاحية من المعلومات المُستقاة من مصادر وطنية، وبشكل رئيس من الشركة العربية للخدمات البحرية والمساعدات الملاحية.
                    <br /> <br />

                    <b> القسم الرابع: القائمة الوطنية لحطام السفن الغارقة:  </b> <br />

                    يحتوي هذا القسم على معلومات عن حطام السفن الغارقة؛ أو أي بقايا حطام قد تُشكل خطراً على الملاحة البحرية. ويشمل الحطام ذو الأهمية التاريخية، وهي محمية بموجب قوانين حكومة السلطنة.
                    <br /> <br />

                    <b> القسم الخامس: فهرس الخرائط الملاحية العمانية:</b> <br />

                    يعرض هذا القسم الخرائط التي تم إصدارها، ونشرها من قبل المكتب الهيدروغرافي الوطني العُماني، إضافة إلى الخرائط التي هي طور الإنتاج خلال الأعوام القادمة.
                    <br /> <br />


                    <b>القسم السادس: جـدول المسافات البحرية:</b><br />
                    يوضح المسافات البحرية بين الموانئ العُمانية والمسافات التقديرية لبعض موانئ الدول المجاورة مُقاسة بالميل البحري.

                    <br /> <br /><br />

    </div>




}

<div class="container">

    <div id="galleryWrapper">
        <div id="imageWrapper">

            @foreach (var item in Model)
            {

            <div type="button" data-id="@item.UploadeFile" class="pkmn" style="background-image: url('/Images/omanbook.png')" data-toggle="modal" id="Openbutton" data-target="#UpdateRequest">
                @*<a href=" " download="file" target="_blank"> </a>*@
                <span> @Html.DisplayFor(modelItem => item.Year) </span>
                   
            </div>


         


            }



        </div>
        <a id="prevThumb" href="javascript: void(0)"><button class="spanarrow ">&#9664;</button></a>
        <a id="nextThumb" href="javascript: void(0)"><button class="spanarrow ">&#9654;</button></a>
    </div>
</div>




<!-- The Modal -->
<div class="modal fade" id="UpdateRequest">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title txtColorBlue" id="UpdateRequestLable"><b> Oman book Index</b></h4>
                <button type="button" class="btn-close" data-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
               
                <iframe id='txtid'   src="" frameborder="1" scrolling="no" height="100%" width="100%" ></iframe>

@*                <iframe data='' id="txtid" type="application/pdf" width="100%" height="100%">  </iframe>
*@            </div>

            <!-- Modal footer -->
           @* <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>*@

        </div>
    </div>
</div>




@section Scripts{

    @*<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>*@
 
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>


    <script>


        //$(document).ready(function () {
           
        //    /* DrawTable();*/


        //});


        $(window).load(function () {
            debugger
            $(document).on("click", "#Openbutton", function () {
         /*   $("#Openbutton").click(function () {*/

                debugger;
                let Id = $(this).data('id');
                $("#txtid").attr("src", "/UploadedFiles/" + Id);


            });

            function changeActive() {
                var pkmn = $(".pkmn");

                pkmn.click(function () {
                    pkmn.removeClass("active");
                    $(this).addClass("active");
                });
            }


            function setScroll() {
                $(document).on("click", "#prevThumb", function () {
                    var leftPos = $("#imageWrapper").scrollLeft();

                    if ($("#imageWrapper").scrollLeft() > "0") {
                        $("#imageWrapper").animate({ scrollLeft: leftPos - 500 }, 300);
                    }

                    else {
                        event.preventDefault();
                    }
                });

                $(document).on("click", "#nextThumb", function () {
                    var leftPos = $("#imageWrapper").scrollLeft();

                    if (leftPos < $("#imageWrapper")[0].scrollWidth) {
                        $("#imageWrapper").animate({ scrollLeft: leftPos + 500 }, 300);
                    }

                    else {
                        event.preventDefault();
                    }
                });
            }


          


            changeActive();
            setScroll();
        });





       


    </script>


}

