@model Hydro.DAL.Entities.ServiceRequestType
@inject CultureLocalizer  _Localizer

@{
    ViewData["Title"] = "Edit";
    Layout = "_AdminLayout";

}


<style>

    .form-check-label {
        margin-top: 2px;
        font-size: 18px;
        margin-left: 160px;
    }
</style>

<h1 class="txtColorBlue text-center"><mark class="highlight">Service Request Type </mark></h1>

<hr />



<div class="container mt-5 mb-5">
    <div class="row d-flex align-items-center justify-content-center">
        <div class="col-md-10 ">

            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />



                <div class="form-input d-flex">
                    <label asp-for="@_Localizer.Text("Status")" class="control-label align-self-center" style="width:18%;"></label>
                    <select asp-for="Status" class="form-control form-controlNonSpace">
                        @foreach (EnumCommon.RequestStatus suit in (EnumCommon.RequestStatus[])Enum.GetValues(typeof(EnumCommon.RequestStatus)))
                        {

                            <option value="@(((int)suit).ToString())">@_Localizer.Text(suit.ToString())</option>

                        }
                    </select>
                    <span asp-validation-for="Status" class="text-danger"></span>
                </div>



                <div class="form-input d-flex">
                    <label asp-for="Years" class="control-label align-self-center" style="width:18%;"></label>
                    <input asp-for="Years" class="form-control form-controlNonSpace" />
                    <span asp-validation-for="Years" class="text-danger"></span>
                </div>


                <div class="form-input d-flex">
                    <label asp-for="Quantity" class="control-label align-self-center" style="width:18%;"></label>
                    <input asp-for="Quantity" class="form-control form-controlNonSpace" />
                    <span asp-validation-for="Quantity" class="text-danger"></span>
                </div>


                <div class="form-input d-flex">
                    <label asp-for="Postion" class="control-label align-self-center" style="width:18%;"></label>
                    <input asp-for="Postion" class="form-control form-controlNonSpace" />
                    <span asp-validation-for="Postion" class="text-danger"></span>
                </div>

                <div class="form-input d-flex">
                    <label asp-for="Purpose" class="control-label align-self-center" style="width:18%;"></label>
                    <input asp-for="Purpose" class="form-control form-controlNonSpace" />
                    <span asp-validation-for="Purpose" class="text-danger"></span>
                </div>

                <div class="form-input d-flex">
                    <label asp-for="Description" class="control-label align-self-center" style="width:18%;"></label>
                    <textarea asp-for="Description" class="form-control3 form-control2  " rows="5" placeholder=" Description . . ."></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>



                <div class="form-input d-flex">
                    <label asp-for="Region" class="control-label align-self-center" style="width:18%;"></label>
                    <input asp-for="Region" class="form-control form-controlNonSpace" />
                    <span asp-validation-for="Region" class="text-danger"></span>
                </div>


                <div class="form-input d-flex">
                    <label asp-for="CategoryId" class="control-label align-self-center" style="width:18%;"></label>
                    <select asp-for="CategoryId" class="form-control form-controlNonSpace" asp-items="ViewBag.CategoryId" readonly></select>
                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                </div>

                <div class="form-input d-flex">
                    <label asp-for="FileFormatId" class="control-label align-self-center" style="width:18%;"></label>
                    <select asp-for="FileFormatId" class="form-control form-controlNonSpace" asp-items="ViewBag.FileFormatId" readonly></select>
                    <span asp-validation-for="FileFormatId" class="text-danger"></span>
                </div>



                <div class="form-input">
                    <input type="submit" value="Save" class="btn mt-4 signup backBlue text-white" style="width:100%;font-size:22px;" />

                </div>


                <div class="form-input">
                    <a asp-action="Index"><i class="fas fa-arrow-left"></i> &nbsp;Back to List</a>
                </div>



            </form>
        </div>
    </div>
</div>



