
.counter {
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .counter input {
        width: 100%;
        border: 0;
        line-height: 30px;
        /*            font-size: 20px;*/
        /*            text-align: center;
*/ /**/
        background: white;
        color: #20426b;
        appearance: none;
        outline: 0;
        border: 1px solid #20426b;
    }

    .counter span {
        display: block;
        font-size: 25px;
        padding: 0 10px;
        cursor: pointer;
        color: #0052cc;
        user-select: none;
    }


.form-control {
    text-indent: 0px;
