@model HydrographicOffice.Models.CategoryVm
@inject CultureLocalizer  _Localizer

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Servcie Type</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="EnumServiceType" class="control-label"></label>
                <select asp-for="EnumServiceType" class="form-control">
                    @foreach (EnumCommon.ServiceType suit in (EnumCommon.ServiceType[])Enum.GetValues(typeof(EnumCommon.ServiceType)))
                    {

                        <option value="@(((int)suit).ToString())">@_Localizer.Text(suit.ToString())</option>

                    }
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">@_Localizer.Text("Desc")</label>
                <input asp-for="ItemName" class="form-control" />
                <span asp-validation-for="ItemName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
