@model HydrographicOffice.Models.DifferentReVm
@inject CultureLocalizer _Localizer

@{
    ViewData["Title"] = "Create";
    Layout = "_Layout";

}

<link href="~/Admin/FileUploader/css/fileinput.css" rel="stylesheet" />
<link href="~/Admin/FileUploader/themes/explorer-fa/theme.css" rel="stylesheet">


<!--//DifferentReVm-->
<div class="container">
    <div class="row d-flex align-items-center justify-content-center">
        <div class="col-md-10 ">

            <form asp-action="Create" method="post" enctype="multipart/form-data">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="card px-5 py-5 ">

                    <h2 class="mt-3 txtColorGold text-center">Marine Landmark Reports </h2>


                    <div class="form-input d-flex">
                        <label class="control-label align-self-center" style="width:20%;"> Select Item:</label>
                        <select asp-for="ReportType" class="form-control form-select form-controlNonSpace">
                            @foreach (EnumCommon.DifferentReportType suit in (EnumCommon.DifferentReportType[])Enum.GetValues(typeof(EnumCommon.DifferentReportType)))
                            {

                                <option value="@(((int)suit).ToString())">@_Localizer.Text(suit.ToString())</option>

                            }


                        </select>
                        <span asp-validation-for="ReportType" class="text-danger"></span>

                    </div>
                    <div class="form-input">
                        <input asp-for="Position" class="form-control form-controlNonSpace" placeholder="  Position " />
                        <span asp-validation-for="Position" class="text-danger"></span>
                    </div>

                    <div class="form-input">
                        <input asp-for="Region" class="form-control form-controlNonSpace" placeholder="Region" />
                        <span asp-validation-for="Region" class="text-danger"></span>
                    </div>


                    <div class="form-input">
                        <input asp-for="DifferentRepDate" class="form-control form-controlNonSpace" placeholder="  New Feature Date " />
                        <span asp-validation-for="DifferentRepDate" class="text-danger"></span>
                    </div>



                    <div class="form-input">
                        <input asp-for="Email" class="form-control form-controlNonSpace" placeholder="Email" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div class="form-input">
                        <input asp-for="Phone" class="form-control form-controlNonSpace" placeholder="Phone" />
                        <span asp-validation-for="Phone" class="text-danger"></span>
                    </div>


                    <div class="form-input">
                        <input asp-for="Organization" class="form-control form-controlNonSpace" placeholder="Organization" />
                        <span asp-validation-for="Organization" class="text-danger"></span>
                    </div>


                    <div class="form-input">
                        <input asp-for="Character" class="form-control form-controlNonSpace" placeholder="Character" />
                        <span asp-validation-for="Character" class="text-danger"></span>
                    </div>


                    <div class="form-input">
                        <input asp-for="Purpose" class="form-control form-controlNonSpace" placeholder="Purpose" />
                        <span asp-validation-for="Purpose" class="text-danger"></span>
                    </div>



                    <div class="form-input">
                        <textarea asp-for="Description" class="form-control3 form-control2  " rows="5" placeholder=" Description . . ."></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>

                    <div class="form-input mt-3 d-f text-center">
                        <div class="BoxDach p-3">
                            <label for="file" class="form-label">
                                <i class="fa-solid fa-cloud-arrow-up inputfileicon"></i>
                            </label>
                            <br />
                            <input asp-for="Files" type="file" class="" name="Files" id="Files" multiple>
                        </div>
                    </div>

                    <button type="submit" class="btn mt-4 signup backBlue text-white"> Send Marine Reports</button>
</form>

        </div>
    </div>
</div>



@*///....................................................................................................................................................................................................................*@






@section Scripts {
    <script src="~/Admin/FileUploader/js/fileinput.js"></script>
    <script src="~/Admin/FileUploader/js/locales/ar.js"></script>
    <script src="~/Admin/FileUploader/themes/explorer-fa/theme.js"></script>
    <script src="~/Admin/FileUploader/js/plugins/piexif.js"></script>
    <script src="~/Admin/FileUploader/js/plugins/sortable.js"></script>


    <script>

  
        $("#Files").fileinput({
                language: "@(System.Globalization.CultureInfo.CurrentCulture.DisplayName.Contains("English")? "en" : "ar")",
                theme: "explorer-fa",
                showUpload: false,
                maxFileSize: 10240,
                dropZoneEnabled: false,
            maxFileCount: 2,
            allowedFileExtensions: ["jpg", "png", "jpeg","pdf","doc"],
                mainClass: "input-group"
            });
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
